* {
  margin: 0;
}
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  height: 8rem;
  width: 8rem;
  cursor: pointer;

}
.signup {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #40cab5;
  outline: none;
  border: none;
  color: rgba(239, 240, 246, 0.978);
  font-size: 1rem;
  cursor: pointer;
}
.input-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #879897;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  margin-top: 10px;
}
.input {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  border: 1px solid transparent;
}
.input:focus {
  border-color: #0c3640;
  outline: none;
}
.label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 1rem;
}
.label-password {
  margin-top: 2rem;
}
.input-header-text {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.create-account-button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #163c3e;
  color: #fff;
  font-size: 1rem;
}
.table {
  width: 30vw;
  margin-top: 1rem;
  text-align: center;
  margin: 0 auto;
  border-spacing: 10px;
  background-color: aquamarine;
}
.menu-header {
  text-align: center;
  margin: 3rem 0;
}
.table-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.coffee-image {
  border-radius: 100px;
  margin-right: 10px;
}
.table-subtext {
  font: 1em sans-serif;
}
.table-header {
  font: 1.5em sans-serif;
}
.view-more {
  color: #24090b;
  text-align: center;
  cursor: pointer;
  font: 1.2em sans-serif;
}
